
<div class="h-100 p-5 bg-dark rounded-3 text-white mt-5 mb-5">
<h1>
  <%# <strong>First name:</strong> %>
  <%= @rolladex.first_name %> <%= @rolladex.last_name %>

</h1>

<%# <p>
  <strong>Last name:</strong>
</p> %>

<p>
  <%# <strong>Email:</strong> %>
  <%= @rolladex.email %> | 
  <%= @rolladex.telephone %> |  
  <%= @rolladex.twitter %>

</p>

<%# <p> %>
  <%# <strong>Telephone:</strong> %>
<%# </p> %>

<%# <p> %>
  <%# <strong>Twitter:</strong> %>
<%# </p> %>
<br />

<%= link_to 'Edit', edit_rolladex_path(@rolladex), class: "btn btn-secondary" %> |
<%= link_to 'Back', rolladexes_path, class: "btn btn-secondary" %> | 
<%= link_to 'Deallocate', @rolladex, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
</div>

